In [9]:
# Importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.model_selection import train_test_split
# Models Libraries
from scipy import stats

In [10]:
# Retrieve path
path = os.getcwd()

In [11]:
# a) Load the data
df = pd.read_csv(path+"/sample_diabetes_mellitus_data.csv")
df.head()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
0,0,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,...,0,14.1,0,0,0,0,0,0,0,1
1,1,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,...,1,12.7,0,0,0,0,0,0,0,1
2,2,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
3,3,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,...,1,8.0,0,0,0,0,0,0,0,0
4,4,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,...,0,NaN,0,0,0,0,0,0,0,0

In [12]:
df.shape

(10000, 53)

In [24]:
# c. Remove those rows that contain NaN values in the columns: age, gender, ethnicity.
def drop_na(df, columns):
    df_drop = df.dropna(subset=columns)
    return df_drop

result_c = drop_na(df, ['age', 'gender', 'ethnicity'])
print(result_c.shape)

(9368, 53)

In [14]:
df.describe()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,height,icu_id,pre_icu_los_days,readmission_status,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
count,10000.00000,10000.000000,10000.000000,9595.000000,8262.000000,10000.000000,9840.000000,10000.000000,10000.000000,10000.0,...,10000.000000,7802.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4999.50000,212388.142800,103.047300,62.409693,29.776210,0.229200,169.902573,105.659500,0.638186,0.0,...,0.302900,11.619673,0.000400,0.017800,0.013600,0.046100,0.007700,0.005700,0.026100,0.228800
std,2886.89568,38026.609268,30.924057,16.603704,8.374851,0.420339,10.724366,17.855964,2.134813,0.0,...,0.459535,6.774651,0.019997,0.132231,0.115829,0.209712,0.087416,0.075287,0.159441,0.420081
min,0.00000,147009.000000,4.000000,16.000000,14.844926,0.000000,137.200000,82.000000,-0.224306,0.0,...,0.000000,0.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2499.75000,179460.000000,83.000000,53.000000,23.945379,0.000000,162.600000,92.000000,0.002604,0.0,...,0.000000,7.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4999.50000,211995.500000,118.000000,64.000000,28.196655,0.000000,170.200000,99.000000,0.011111,0.0,...,0.000000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7499.25000,245350.250000,118.000000,75.000000,33.749859,0.000000,177.800000,114.000000,0.166146,0.0,...,1.000000,14.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,9999.00000,279000.000000,198.000000,89.000000,67.814990,1.000000,195.590000,171.000000,49.523611,0.0,...,1.000000,45.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [21]:
# d. Fill NaN with the mean value of the column in the columns: height, weight.
def fill_na(df, columns):
    for item in columns:
        df_fill = df.fillna(df[item].mean())
    return df_fill

In [22]:
# it changes other variables as well - doublecheck
columns = ['height', 'weight']
result_d = fill_na(df, columns)
print(result_d.describe())

        Unnamed: 0   encounter_id   hospital_id           age           bmi  \
count  10000.00000   10000.000000  10000.000000  10000.000000  10000.000000
mean    4999.50000  212388.142800    103.047300     63.368951     39.564432
std     2886.89568   38026.609268     30.924057     16.920967     22.659322
min        0.00000  147009.000000      4.000000     16.000000     14.844926
25%     2499.75000  179460.000000     83.000000     53.000000     24.928590
50%     4999.50000  211995.500000    118.000000     65.000000     30.150017
75%     7499.25000  245350.250000    118.000000     77.000000     41.015732
max     9999.00000  279000.000000    198.000000     89.000000     86.095094

       elective_surgery        height        icu_id  pre_icu_los_days  \
count      10000.000000  10000.000000  10000.000000      10000.000000
mean           0.229200    168.561653    105.659500          0.638186
std            0.420339     14.958735     17.855964          2.134813
min            0.000000     86.095094     82.000000         -0.224306
25%            0.000000    162.600000     92.000000          0.002604
50%            0.000000    170.200000     99.000000          0.011111
75%            0.000000    177.800000    114.000000          0.166146
max            1.000000    195.590000    171.000000         49.523611

       readmission_status  ...  ventilated_apache    wbc_apache          aids  \
count             10000.0  ...       10000.000000  10000.000000  10000.000000
mean                  0.0  ...           0.302900     27.989371      0.000400
std                   0.0  ...           0.459535     31.417753      0.019997
min                   0.0  ...           0.000000      0.900000      0.000000
25%                   0.0  ...           0.000000      7.895000      0.000000
50%                   0.0  ...           0.000000     12.300000      0.000000
75%                   0.0  ...           1.000000     26.000000      0.000000
max                   0.0  ...           1.000000     86.095094      1.000000

          cirrhosis  hepatic_failure  immunosuppression      leukemia  \
count  10000.000000     10000.000000       10000.000000  10000.000000
mean       0.017800         0.013600           0.046100      0.007700
std        0.132231         0.115829           0.209712      0.087416
min        0.000000         0.000000           0.000000      0.000000
25%        0.000000         0.000000           0.000000      0.000000
50%        0.000000         0.000000           0.000000      0.000000
75%        0.000000         0.000000           0.000000      0.000000
max        1.000000         1.000000           1.000000      1.000000

           lymphoma  solid_tumor_with_metastasis  diabetes_mellitus
count  10000.000000                 10000.000000       10000.000000
mean       0.005700                     0.026100           0.228800
std        0.075287                     0.159441           0.420081
min        0.000000                     0.000000           0.000000
25%        0.000000                     0.000000           0.000000
50%        0.000000                     0.000000           0.000000
75%        0.000000                     0.000000           0.000000
max        1.000000                     1.000000           1.000000

[8 rows x 47 columns]

In [16]:
df3 = pd.DataFrame(data3)

# Apply one-hot encoding
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(df3[['vehicle', 'marital_status']]).toarray()

# Convert the encoded data back to a dataframe
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out (['vehicle', 'marital_status']))


# Concatenate the encoded dataframe with the 'id' column
encoded_df = pd.concat([df3[['id', 'vehicle', 'marital_status']], encoded_df], axis=1)

print('\nDataframe3:')
display(encoded_df)

NameError: name 'data3' is not defined

In [ ]:
# e. Generate dummies for ethnicity column (One hot encoding).
def one_hot (df, columns):
    ncoder = OneHotEncoder()

In [ ]:
# Extract the feature data (X) and the target variable (y) from your DataFrame
X = df.drop('diabetes_mellitus', axis=1)  # Replace 'target_column_name' with the name of your target variable
y = df['diabetes_mellitus']  # Replace 'target_column_name' with the name of your target variable

In [ ]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)